# Series Oluşturma

In [1]:
import pandas as pd

In [2]:
my_data = ['Emincan' , 'Alper' , 'Burak' , 'Dilara' , 'Zeynep']
my_data

['Emincan', 'Alper', 'Burak', 'Dilara', 'Zeynep']

In [3]:
# pd.Series() fonksiyonu ile elimizde ki verileri Series haline getirebiliriz.

In [4]:
pd.Series(my_data)

0    Emincan
1      Alper
2      Burak
3     Dilara
4     Zeynep
dtype: object

In [5]:
my_data = [1923 , 1776 , 1876]
my_idx = ['Türkiye' , 'USA' , 'Canada']

In [6]:
pd.Series(my_data , my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [7]:
pd.Series(data=my_data, index= my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [8]:
# pd.Series() Fonksiyonu içerisine dictionary de alabilir. Dictionary 'nin keyleri index, value'ları değer olur.

In [9]:
my_dict ={
    'Emincan' : 26,
    'Kaan' : 23,
    'Ayşa' : 21,
    'Deniz' : 20
}

In [10]:
my_dict

{'Emincan': 26, 'Kaan': 23, 'Ayşa': 21, 'Deniz': 20}

In [11]:
pd.Series(data = my_dict)

Emincan    26
Kaan       23
Ayşa       21
Deniz      20
dtype: int64

In [12]:
seri = ['istanbul' , 'İzmir' , 'Ankara' , 'Bursa']
sayi = [15.4 , 4.3 , 5.6 , 3]

In [13]:
pd.Series(index=seri,data=sayi)

istanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

# Serilerde İşlemler

In [14]:
q1 = {'Japan' : 80, 'China' : 450,'Türkiye': 150, 'India' : 200}
q2 = {'Japan' : 90, 'China' : 420,'Türkiye': 230, 'India' : 195}

In [15]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [16]:
sales_q1

Japan       80
China      450
Türkiye    150
India      200
dtype: int64

In [17]:
sales_q2

Japan       90
China      420
Türkiye    230
India      195
dtype: int64

In [18]:
sales_total = sales_q1 + sales_q2
sales_total

Japan      170
China      870
Türkiye    380
India      395
dtype: int64

In [19]:
sales_total.index

Index(['Japan', 'China', 'Türkiye', 'India'], dtype='object')

In [20]:
sales_total.keys()

Index(['Japan', 'China', 'Türkiye', 'India'], dtype='object')

In [21]:
sales_total.values

array([170, 870, 380, 395])

In [22]:
sales_total

Japan      170
China      870
Türkiye    380
India      395
dtype: int64

In [23]:
sales_total*2

Japan       340
China      1740
Türkiye     760
India       790
dtype: int64

In [24]:
sales_total / 10

Japan      17.0
China      87.0
Türkiye    38.0
India      39.5
dtype: float64

In [25]:
sales_q2 - sales_q1

Japan      10
China     -30
Türkiye    80
India      -5
dtype: int64

In [26]:
q1 = {'Japan' : 80, 'China' : 450, 'India': 150, 'USA' : 200}
q2 = {'Brazil' : 90, 'China' : 420, 'India': 230, 'USA' : 195}

In [27]:
sales_q1 =pd.Series(q1)
sales_q2= pd.Series(q2)

In [28]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [29]:
sales_q2

Brazil     90
China     420
India     230
USA       195
dtype: int64

In [30]:
sales_q1 + sales_q2

Brazil      NaN
China     870.0
India     380.0
Japan       NaN
USA       395.0
dtype: float64

In [31]:
sales_q1.add(sales_q2, fill_value= 0) # NaN değerleri fill_value= ile istediğimiz değeri verebiliriz.

Brazil     90.0
China     870.0
India     380.0
Japan      80.0
USA       395.0
dtype: float64

In [32]:
sales_q1

Japan     80
China    450
India    150
USA      200
dtype: int64

In [33]:
sales_q1.dtype  #.dtype attribute'ı ile serimizin içindeki verilerin tipini çekebiliriz.

dtype('int64')

In [34]:
league_2022 = pd.Series(data= {'Fenerbahce' : 51 , 'Galatasaray' : 60 , 'Besiktas' : 48 , 'Trabzonspor' : 41} )
league_2021 = pd.Series(data= {'Fenerbahce' : 73 , 'Galatasaray' : 68 , 'Besiktas' : 59 , 'Trabzonspor' : 81} )
league_2020 = pd.Series(data= {'Fenerbahce' : 82 , 'Galatasaray' : 84 , 'Besiktas' : 84 , 'Trabzonspor' : 71} )

In [35]:
league_2022 + league_2021 + league_2020

Fenerbahce     206
Galatasaray    212
Besiktas       191
Trabzonspor    193
dtype: int64